@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Armata&family=Teko&family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.back {
   background: rgb(153, 152, 152);
   height: 100vh;
   color: rgb(124, 124, 124);
   font-family: Teko;
   text-transform: uppercase;
   text-align: center;
   
}

.calculadora {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 15px;
}

.calculadora h1{
    font-size: 40px
}

.botao {
    background-color: rgb(114, 113, 113);
    font-size: 25px;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    margin: 3px;
}

.botao:hover {
    background-color: rgb(75, 75, 75);
}

#resultado{
    background-color: rgb(192, 190, 190);
    width: 210px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 7px;
    font-family:Arial, Helvetica, sans-serif;

}

.fa-solid {
    color: rgb(71, 71, 71);
    margin-left: 210px;
}

img {
    height: 400px;
    margin: 50px;
    margin-top: 90px;
}

